{% extends 'layouts/base.html' %}
{% block title %}TODO list{% endblock %}

{% block content %}
<h1 class="mb-4">TODO list</h1>

<a href="{% url 'task_add' %}" class="btn btn-primary mb-3 float-end">Add task</a>

{% for task in tasks %}
<div class="border p-3 mb-3">
    <h4>
        {{ task.content }}
        {% if task.is_done %}
            <span class="text-success">Done</span>
        {% else %}
            <span class="text-danger">Not done</span>
        {% endif %}
    </h4>

    <p class="text-muted">
        Created: {{ task.created_at|date:"F d, Y, g:i a" }}
    </p>

    {% if task.deadline %}
    <p class="text-danger">Deadline: {{ task.deadline }}</p>
    {% endif %}

    <p>
        Tags:
        {% for tag in task.tags.all %}
            {{ tag.name }}
        {% endfor %}
        <a href="{% url 'task_update' task.id %}">Update</a>
        <a href="{% url 'task_delete' task.id %}">Delete</a>
    </p>

    {% if task.is_done %}
        <a href="{% url 'task_toggle' task.id %}" class="btn btn-secondary">Undo</a>
    {% else %}
        <a href="{% url 'task_toggle' task.id %}" class="btn btn-success">Complete</a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
